name: intel-mac

on: [push]

jobs:
  build-intel-macos:
    runs-on: macos-10.15
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        python-version: [3.11]
    steps:
      - uses: actions/checkout@v2
        name: Check out repository
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
      
      - name: Install dependencies and pyemap
        run: |
          conda install -c conda-forge pygraphviz
          conda install -c conda-forge rdkit
          conda install -c bioconda muscle
          conda install -c salilab dssp
          pip install pandas==1.5.3
          pip install .
          
      - name: Generate coverage report
        run: |
          pip install pytest
          pip install pytest-cov
          pytest --cov=./ --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1