name: ubuntu

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        python-version: [3.11]
    steps:
      - uses: actions/checkout@v4
        name: Check out repository
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
      
      - name: Install dependencies and pyemap
        run: |
          pip install numpy==1.24.4
          pip install pandas==1.5.3
          pip install .
          conda install -c conda-forge rdkit
          conda install -c bioconda muscle
          conda install -c conda-forge msms
          
      - name: Generate coverage report
        run: |
          sudo apt-get install dssp
          pip install pytest
          pip install pytest-cov
          pytest --cov=./ --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
